.page {
    height: 100vh;
    background-color: #f8f9fa;
}
form {
    margin-top: 150px;
    width: 400px;
}

form button {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 520px) {
    form {
        width: 270px;
    }

    form button {
        padding: 2px;
    }
}