.page {
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    max-width: 100vw;
}
.inputDateTime {
    margin-left: 7px;
}
.hiddenTable {
    display: none;
}
@media screen and (max-width: 520px) {
    .page {
        display: block;
    }
    .inputDateTime {
        margin-left: 0px;
    }
}