.background {
    background-color: #282b2e;
    width: 15%;
    min-height: 100vh;
    padding: 5px;
    font-family: sans-serif;
}

.active {
    display: block !important;
}

.activeBack {
    background-color: black;
    height: 440px !important;
    transition: height 0.5s;
}

.logo {
    color: aliceblue;
    display: flex;
    cursor: pointer;
    font-size: 32px;
}

.top_section {
    display: none;
}

.menuItem {
    color: #f8f9fa;
    text-decoration: none;

}
.cur {
    border-radius: 10px;
    padding: 5px;
}
.icon {
    font-size: 21px;
}

.icon_text {
    font-size: 15px;
    margin-left: 7px;
}
.sub {
    display: none;
}
.activeSub {
    display: block;
    margin-left: 10px;
}
.activeItem {
    background-color: white;
    color: #333333;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 520px) {
    .top_section {
        display: block;
    }

    .background {
        transition: height 0.5s;
        min-height: 20px;
    }

    .menuItems {
        display: none;
    }

    .icon_text {
        font-size: 14px;
    }

    .icon {
        display: none;
    }

    .background {
        width: 100%;
        height: 50px;
    }
}