

.cardBody {
    display: flex;
}

.select {
    width: 300px;
}

.NotActive {
    display: none;
}

.active {
    display: block;
}

.sliderMenuItemActive {
    background-color: #ebebeb;
    border-radius: 30px;
}

nav {
    width: 340px;
    height: auto;
    background: #f2f2f2;
    border-radius: 30px;
    border: 1px solid #d1d1d1;
}

nav div {
    font-size: 16px;
    color: #707070;
    padding: 4px;
    line-height: 33px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

nav div:hover {
    background-color: #ebebeb;
    border-radius: 30px;
}

@media screen and (max-width: 700px) {
    nav {
        width: 320px;
    }
    nav div {
        padding: 2px;
    }

}