.page {
    min-height: 100vh;
    background-color: #f8f9fa;
    max-width: 100%;
    display: flex;
}

.card {
    margin-top: 10px;
}
.cardBody {
    display: flex;
}
.form {
    display: flex;
}

.inputDate {
    margin-left: 7px;
}

.slider {
    padding: 10px;
    width: 85%;
}

.NotActive {
    display: none;
}

.active {
    display: block;
}

.sliderMenuItemActive {
    background-color: #ebebeb;
    border-radius: 30px;
}

nav {
    width: 340px;
    height: auto;
    background: #f2f2f2;
    border-radius: 30px;
    border: 1px solid #d1d1d1;
}

nav div {
    font-size: 16px;
    color: #707070;
    padding: 4px;
    line-height: 33px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

nav div:hover {
    background-color: #ebebeb;
    border-radius: 30px;
}

@media screen and (max-width: 700px) {
    nav {
        width: 320px;
    }
    nav div {
        padding: 2px;
    }
    .slider {
        width: 100%;
    }
    .form {
        width: 300px;
    }
    .page {
        display: block;
    }
    .inputDateTime {
        margin-left: 0;
    }
}